.main-header {
  align-self: self-start;
}

.title {
  text-transform: uppercase;
  color: var(--principal-color);
  font-size: 2rem;
  padding: 0 17px;
  border-top: 3.5px solid var(--principal-color);
  border-bottom: 3.5px solid var(--principal-color);
}
